main {
    background-color: pink;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background: rgb(241,210,223);
    background: radial-gradient(circle, rgba(241,210,223,1) 0%, rgba(238,174,202,1) 100%);
}

body {
    font-family: "Open Sans", sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
}


td {
    border: 1px solid #BF90A8;
}

th {
    border: 1px solid #BF90A8;
    padding: 8px;
}