@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); 

body {
    background-color: #FDF6F6;
    min-width: 360px;
}

.LinkButton {
    color: #413E65;
    text-transform: capitalize;
}

.CategorySub {
    font-size: 0.8rem;
    color: #C0BAC4;
}

.TitleCaption {
    font-size: 1rem;
    font-weight: 600;
    color: #2b161b;
}

.PriceCaption {
    font-size: 0.9rem;
    font-weight: 600;
    color: #2b161b;
}

.CategoryCaption {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.SpecialDealTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 32px;
}

.OldPrice {
    text-decoration: line-through;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.NewPrice {
    font-size: 1.4rem;
    font-weight: bold;
}



.SectionTitle {
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    color: #2b161b;
}

.SectionBorder {
    margin-bottom: 50px;
    border-top: 5px solid #ef4d48;
    width: 80px;
}

.HomeImage {
    width: 180px;
    height: 150px;
    object-fit: fill;
    margin-bottom: 20px;
    border-radius: 2px;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.HomeImage:hover{
    transform: scale(1.1);
}



.CategoryCaption {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.SpecialDeal {
    gap: 70px;
    padding: 30px;
    background-color: rgb(255 231 243);
    color: #2b161b;
    border-radius: 2px;
}

.SpecialDealImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
}

@media screen and (min-width: 496px) {
    .SpecialDealImage {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 768px) {
    .SpecialDealImage {
        width: 300px;
        height: 300px;
    }
    .NewPrice {
        margin-bottom: 130px;
    }
}

@media screen and (min-width: 992px) {
    .SpecialDealImage {
        width: 250px;
        height: 250px;
    }
    .SpecialDeal{
        gap:40px;
    }
    .NewPrice {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .SpecialDealImage {
        width: 300px;
        height: 300px;
    }

    .NewPrice {
        margin-bottom: 130px;
    }
}

@media screen and (min-width: 1400px) {


    .SpecialDeal {
        gap: 70px;
    }
}





h4 {
    margin-top: 10px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}



.Comment {
    font-size: 1.6rem;
    font-style: oblique;
    font-weight: 700;
    color: #484385;
}

.CommentAuthor {
    font-size: 1.2rem;
    font-weight: 700;
    color: #484385;
}

.CategoryBorder {
    border-top: 1px solid #413E65;
    margin-bottom: 20px;
    width: 180px;
}

#hero {
    height: 70vh;
    overflow : hidden;
}

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(73 17 58 / 50%);
    z-index: -1;
}

#youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: scale(2);
    object-fit: cover;
}

#heroText {
    padding: 6em 10em;
    font-family: "Anton", sans-serif;
    font-weight: bold;
}