#form-container {
    background-color: blanchedalmond;
    height: 100vh;
}

.textbox {
    background-color: blanchedalmond;
    border-color: #2b161b;
    box-shadow: inset 0px 0px 2px #2b161b;
}

.textbox:focus {
    transition: 0.4s;
    background-color: pink;
    box-shadow: 0px 0px 6px #2b161b;
    outline: 0;
}

.btn-login {
    background-color: #8c0b5c;
    border: none;
}

.btn-danger {
    background-color: #d90700;
}

.error-message {
    font-weight: bold;
    color: red;
}

.btn:hover {
    box-shadow: 0.2rem 0.2rem 0 black;
    transform: translate(-0.2rem, -0.2rem);
    transition: 0.3s
}

.btn-login:hover {
    background-color: #8c0b5c;
}
