@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    background-color : blanchedalmond;
}

 /* NAVBAR */
.navbar {
    background: rgb(255 231 243);
}

.nav-link, .dropdown-item {
    box-shadow: inset 0 0 0 0 #ef4d48;
    color: #2b161b;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-link:hover, .dropdown-item:hover {
    box-shadow: inset 0px 0px 10px 50px #2b161b;
    color: white;
}

.animated {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes flip {
    50% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.8);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
}

.animated.flip {
    backface-visibility: visible;
    animation-name: flip;
    font-size: 30px;
    font-weight: bolder;
    width: 150px;
    text-align: center;
}


.navbar-brand {
    color: black;
    letter-spacing: .2em;
    text-shadow: 2px 2px 0px #ef4d48, 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.navbar-icons svg:hover, .social-network svg:hover {
    scale: 2.0;
    transition: 0.3s;
    color: #ef4d48;
}
.modal-content {
    color: black;
    background-color: blanchedalmond;
}

.cart-counter {
    background-color: azure;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -7px;
    right: -14px;
    padding: 0 5px;
    font-size: 0.7em;
}

.btn:hover {
    box-shadow: 0.2rem 0.2rem 0 black;
    transform: translate(-0.2rem, -0.2rem);
    transition: 0.3s
}

.btn-login:hover {
    background-color: #8c0b5c;
}

.btn-login {
    background-color: #8c0b5c;
    border: none;
}

.btn-danger {
    background-color: #d90700;
}

/*DETAILS PAGE*/

.imgDetails {
    max-width: 20em;
    height: auto !important;
    max-height: 20em !important;
}

.btnAddToCard {
    background-color: #8c0b5c;
}

/*BACKOFFICE PAGE*/
.BackOffice {
    margin: 0 auto;
    padding: 1rem;
}


td, th {
    text-align: center;
}

.BackOffice .AlertMsg {
    width: 80%;
    margin: 0 auto;
}

.BackOffice .TableButtonsBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.BackOffice .PrimaryButton {
    background-color: #d90700;
    color: white;
    margin: 0 4px;
}



.BackOffice .InputStyle {
    background-color: #fffaeb;
    border-color: #2b161b;
    box-shadow: inset 0px 0px 1px #2b161b;
}

    .BackOffice .InputStyle:focus {
        transition: 0.4s;
        box-shadow: 0px 0px 6px #2b161b;
        outline: 0;
    }

.BackOffice .TableImg {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.BackOffice .TableMain {
    margin: 0 auto;
    min-width: 80%;
    max-width: 80%;
    margin-bottom: 1rem;
}

.GridContainer {
    overflow-x: scroll;
}

.BackOffice .GenericAlert {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.BackOffice .Capitalized {
    text-transform: capitalize;
}

.BackOffice .PseudoPercent::after {
    content: "%";
}

.BackOffice .PseudoEuro::after {
    content: "€";
}

.BackOffice .AddProductContainer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}

.BackOffice .AddInputField {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.BackOffice .EditInput {
    width: 100%
}

